@{
    ViewBag.Title = "Manage Page Content - " + @ViewBag.Locale + " - " + @ViewBag.VirtualPath;
    ViewBag.LeftNavPanel = TKS.Areas.Admin.Models.Global.mnuPosContent;
    ViewBag.NavActive = "content-pages";
    ViewBag.SelectedTab = 0;
}

<div class="container rounded bordered">
    <h2>Manage Page Content - @ViewBag.Locale - @ViewBag.VirtualPath</h2>
    <div class="holder">
        <div class="inner">
            <p>&gt;&nbsp;@Html.ActionLink("Page List", "index", "pages")</p>
            <div id="tabs">
                <ul>
                    <li aria-controls="tabs-1">@Html.ActionLink("Content", "content", "pages", new { id = ViewBag.PageID }, new { })</li>
                    <li aria-controls="tabs-2">@Html.ActionLink("SEO", "SEO", "pages", new { id = ViewBag.PageID }, new { })</li>
                    <li aria-controls="tabs-3">@Html.ActionLink("Setup", "structure", "pages", new { id = ViewBag.PageID }, new { })</li>
                    <li aria-controls="tabs-4">@Html.ActionLink("Modules", "module", "pages", new { id = ViewBag.PageID }, new { })</li>
                    @*<li aria-controls="tabs-5"><a href="#tabs-5">Audit</a></li>*@
                </ul>
                <div id="tabs-1">Loading</div>
                <div id="tabs-2">Loading</div>
                <div id="tabs-3">Loading</div>
                <div id="tabs-4">Loading</div>
            </div>
        </div>
    </div>
</div>

@section cphFoot{
    <script type="text/javascript">
    $(function () {
            @* Setup the tabs *@
            $('[id$=tabs]').tabs();
        });
    </script>
}
