@model IEnumerable<TKS.Areas.Admin.Models.store.Address>

@*<p><span class="el el-plus el-fw green"></span> @Html.ActionLink("Add Address", "AddressCreate", new { id = ViewBag.UserName })</p>*@

@foreach (var address in Model) {
    <div>
        <div style="font-weight: bold">@address.NickName</div>
        <div>@address.FirstName @address.LastName</div>
        <div>@address.Company</div>
        <div>@address.Address1</div>
        <div>@address.Address2</div>
        <div>@address.Suite</div>
        <div>@address.City, @address.StateProvinceName @address.ZipPostal</div>
        <div>@address.CountryName</div>
        <div>@address.Phone</div>
        @*<div>
            <button class="btn icon" title="Edit"><span class="el el-edit el-fw el-lg"></span></button>
            <button class="btn icon-red" title="Delete"><span class="el el-trash-alt el-fw el-lg"></span></button>
        </div>*@
        <hr />
    </div>
}
@section cphFoot {
    <script type="text/javascript">
        $(function () {
            $("#frm").validate();
        });
    </script>
}
