@model IEnumerable<TKS.Areas.Admin.Models.UserViewModel>

@{
    ViewBag.Title = "Manage Accounts";
    ViewBag.LeftNavPanel = TKS.Areas.Admin.Models.Global.mnuPosAccounts;
    ViewBag.NavActive = "user-user";
}

<div class="container rounded bordered">
    <h2>Manage Accounts</h2>
    <div class="holder">
        <div class="inner">
            <div class="ym-grid">
                <div class="ym-g50 ym-gl">
                    <span class="el el-plus el-fw green"></span> @Html.ActionLink("Add New", "CreateUser")
                </div>
                <div class="ym-g50 ym-gr align-right">
                    <div class="ym-form">
                        <div class="ym-fbox">
                            <input type="text" id="search" name="search" style="width:150px" class="ym-inline" />
                            <button id="cmdSearch" class="ym-button">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="tabular">
            <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col" style="text-align:right">Created</th>
                    <th scope="col" style="text-align:right">Last Login</th>
                    <th scope="col" style="text-align:right">Last Activity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td style="width:100px">
                            <a href="/admin/users/edit/@item.UserName">@item.UserName</a>
                        </td>
                        <td>@item.Email</td>
                        <td style="text-align:right">@item.CreationDate.ToShortDateString()</td>
                        <td style="text-align:right">@item.LastLoginDate.ToShortDateString()</td>
                        <td style="text-align:right">@item.LastActivityDate.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="inner">
            <span class="el el-plus el-fw green"></span> @Html.ActionLink("Add New", "CreateUser")
        </div>
    </div>
</div>

@section cphFoot {
    <script type="text/javascript">
        $(function () {
        })
    </script>
}
