@model TKS.Models.RetrievePasswordViewModel

@using (Html.BeginForm("RetrievePassword", "Login")) {
        <h2>Forgot Your Password?</h2>
        <div style="padding:10px 20px">
            <p>If you have forgotten your password, enter your username or email address below. Your password will be reset and a new password will be sent to you by email.</p>
            <div class="ym-fbox-text">
                @Html.LabelFor(model => model.RetrieveUserName, htmlAttributes: new { @class = "ym-required" })
                @Html.EditorFor(model => model.RetrieveUserName)
                @Html.ValidationMessageFor(model => model.RetrieveUserName, "", new { @class = "ym-error" })
            </div>
            <div style="text-align:center;color:#f00;margin: 0 0 5px">
                @Html.Raw(Model.ErrorMessage)
            </div>
            <div style="text-align:center;margin: 0 0 5px">
                @Html.Raw(Model.SuccessMessage)
            </div>
            <div class="ym-fbox-button">
                <input type="submit" class="ym-button ym-small" value="Submit" />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
            </div>
        </div>
}
