@model TKS.Models.realestate.SocialSites
@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@Html.Raw(ViewData["Body"])

<h1>@ViewBag.Header</h1>

<div class="sep">
    <div class="leftline">&nbsp;</div>

    <div class="rightline">&nbsp;</div>
</div>

@*<div class="ym-grid" style="margin:1em 0">
    <div class="ym-g33 ym-gl">
        <div style="padding-right:5px">
            <div style="color:#fff;background:#3a5897;text-align:right;padding:3px 0"><i class="fa fa-facebook fa-fw fa-2x"></i></div>
            <div class="fb-page" data-href="https://www.facebook.com/TheHeronRestaurant" data-hide_cta="true" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/TheHeronRestaurant"><a href="https://www.facebook.com/TheHeronRestaurant">The Heron</a></blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="ym-g33 ym-gl">
        <div style="padding-right:5px">
            <div style="color:#fff;background:#3a5897;text-align:right;padding:3px 0"><i class="fa fa-facebook fa-fw fa-2x"></i></div>
            <div class="fb-page" data-href="https://www.facebook.com/pages/Welcome-To-Narrowsburg/690126941009398" data-hide_cta="true" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/pages/Welcome-To-Narrowsburg/690126941009398"><a href="https://www.facebook.com/pages/Welcome-To-Narrowsburg/690126941009398">Welcome To Narrowsburg</a></blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="ym-g33 ym-gl">
        <div style="">
            <div style="color:#fff;background:#3a5897;text-align:right;padding:3px 0"><i class="fa fa-facebook fa-fw fa-2x"></i></div>
            <div class="fb-page" data-href="https://www.facebook.com/nest.narrowsburg" data-hide_cta="true" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/nest.narrowsburg"><a href="https://www.facebook.com/nest.narrowsburg">Nest in Narrowsburg</a></blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<div class="ym-grid" style="margin:1em 0">
    <div class="ym-g33 ym-gl">
        <div style="padding-right:5px">
            <div style="color:#fff;background:#3a5897;text-align:right;padding:3px 0"><i class="fa fa-facebook fa-fw fa-2x"></i></div>
            <div class="fb-page" data-href="https://www.facebook.com/DelawareValleyArtsAlliance" data-hide_cta="true" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/DelawareValleyArtsAlliance"><a href="https://www.facebook.com/DelawareValleyArtsAlliance">Delaware Valley Arts Alliance</a></blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="ym-g33 ym-gl">
        <div style="padding-right:5px">
            <div style="color:#fff;background:#125688;text-align:right;padding:3px 0"><i class="fa fa-instagram fa-fw fa-2x"></i></div>
             SnapWidget 
            <iframe src="http://snapwidget.com/bd/?u=dGhlcml2ZXJnYWxsZXJ5fGlufDIwMHwxfDF8fHllc3wyMHxub25lfG9uU3RhcnR8eWVzfHllcw==&ve=100815" title="Instagram Widget" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
        </div>
    </div>
    <div class="ym-g33 ym-gl">
        <div style="overflow:hidden">
            <div style="color:#fff;background:#125688;text-align:right;padding:3px 0"><i class="fa fa-instagram fa-fw fa-2x"></i></div>
            <iframe src="http://snapwidget.com/in/?h=bmFycm93c2J1cmd8aW58MTI1fDN8M3x8bm98NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=100815" title="Instagram Widget" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:390px; height:390px"></iframe>
        </div>
    </div>
</div>
<hr />

<div class="ym-grid" style="margin:1em 0">
    <div class="ym-g33 ym-gl">
        <div style="padding-right:5px">
            <div style="color:#fff;background:#de2023;text-align:right;padding:3px 0"><i class="fa fa-pinterest fa-fw fa-2x"></i></div>
            <a data-pin-do="embedBoard" href="http://www.pinterest.com/sullivancatskil/fort-delaware-museum-of-colonial-history-narrowsbu/">Follow Sullivan County Visitors Association's board Fort Delaware, Museum of Colonial History, Narrowsburg, NY on Pinterest.</a>
        </div>
    </div>
    <div class="ym-g33 ym-gl">
        <div style="padding-right:5px">
            <div style="color:#fff;background:#de2023;text-align:right;padding:3px 0"><i class="fa fa-pinterest fa-fw fa-2x"></i></div>
            <a data-pin-do="embedPin" href="http://www.pinterest.com/pin/25895766578361622/"></a>
        </div>
    </div>
    <div class="ym-g33 ym-gl">
        &nbsp;
    </div>
</div>*@


<ul class="social list-unstyled">
    @foreach (var item in Model.GetPages()) {
        <li>
            @if (item.PageType == "Facebook") {
                <div class="facebook"><i class="fa fa-facebook fa-fw fa-2x"></i></div>
                <div class="fb-page" data-href="@item.URL" data-hide_cta="true" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="true">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="@item.URL"><a href="@item.URL">@item.TitleText</a></blockquote>
                    </div>
                </div>
            } else if (item.PageType == "PinterestBoard") {
                <div class="pinterest"><i class="fa fa-pinterest fa-fw fa-2x"></i></div>
                <a data-pin-do="embedBoard" href="@item.URL">@item.TitleText</a>
            } else if (item.PageType == "PinterestPin") {
                <div class="pinterest"><i class="fa fa-pinterest fa-fw fa-2x"></i></div>
                <a data-pin-do="embedPin" href="@item.URL"></a>
            } else if (item.PageType == "InstagramTag") {
                <div class="instagram"><i class="fa fa-instagram fa-fw fa-2x"></i></div>
                <div id="@item.URL" class="instagram-photos"></div>
                <div><a href="https://instagram.com/explore/tags/@item.URL" target="_blank">@item.TitleText</a></div>
            } else if (item.PageType == "InstagramEmbed") {
                <div class="instagram"><i class="fa fa-instagram fa-fw fa-2x"></i></div>
                @Html.Raw(item.URL)
            }
        </li>
    }
    <li>
        <div style="overflow:hidden">
            <div class="instagram"><i class="fa fa-instagram fa-fw fa-2x"></i></div>
            <iframe src="http://snapwidget.com/bd/?u=dGhlcml2ZXJnYWxsZXJ5fGlufDIwMHwxfDF8fHllc3wyMHxub25lfG9uU3RhcnR8eWVzfHllcw==&ve=100815" title="Instagram Widget" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
        </div>
    </li>
    <li>
        <div style="overflow:hidden">
            <div class="instagram"><i class="fa fa-instagram fa-fw fa-2x"></i></div>
            <blockquote class="instagram-media" data-instgrm-version="4" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                <div style="padding:8px;">
                    <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
                        <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
                    </div>
                    <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
                        <a href="https://instagram.com/p/7iZn2Jg801/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_top">A photo posted by Catskill Farms (catskillfarms)</a>
                        on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-09-12T16:37:21+00:00">Sep 12, 2015 at 9:37am PDT</time>
                    </p>
                </div>
            </blockquote>
        </div>
    </li>
</ul>

@section cphFooterTop {
<div class="social-footer">
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <ul class="list list-unstyled ym-clearfix">
                <li>
                    <div style="border-right:1px solid #a8a494;margin-right:10px">
                        <h3 class="news"><span>Lew Beach News</span></h3>
                        <p><img src="~/assets/images/logo/riverreporter.png"></p>
                        <p>Check out the latest from the award-winning news source for the Upper Delaware River Valley Region since 1975.</p>
                        <p><a href="http://www.riverreporter.com/" target="_blank">Visit Site &gt;</a></p>
                    </div>
                </li>
                <li>
                    <div style="border-right:1px solid #a8a494;margin-right:10px">
                        <h3 class="dining"><span>Lew Beach Dining</span></h3>
                        <p class="center"><a href="http://gerardsrivergrill.com/" target="_blank"><img src="~/assets/images/logo/gerards-river-grill.png" width="175" height="101" /></a></p>
                        <hr />
                        <p class="center"><a href="http://theheronrestaurant.com/" target="_blank"><img src="~/assets/images/logo/the-heron.png" width="225" height="75" /></a></p>
                    </div>
                </li>
                <li>
                    <div>
                        <h3 class="lodging"><span>Lew Beach Lodging</span></h3>
                        <p class="center"><a href="http://www.bluehillsfarm.com/" target="_blank"><img src="~/assets/images/logo/blue-hills-farm.png" width="225" height="99" /></a></p>
                        <hr />
                        <div>
                            <img src="~/assets/images/logo/air-b-and-b.png" width="70" height="23" /><br />
                            <h4>Modern Retreat in the Woods</h4>
                            <p>This lovely modern home in the woods, lined with windows, flooded with light, has 2 bedrooms and 2 full baths, and a large deck facing a stream. Deep comfy couches, air mattress and a semi-private loft make it a great choice for 2 couples plus kids.</p>
                            <p><a href="https://www.airbnb.com/rooms/1766200" target="_blank">View listing &gt;</a>
                        </div>
                        <hr />
                        <div>
                            <img src="~/assets/images/logo/air-b-and-b.png" width="70" height="23" /><br />
                            <h4>Rural Civilization - Queen Room</h4>
                            <p>This is a bright, airy, comfortable room with air conditioning and a thermostat to control your heat in the winter. A queen bed, TV with DVD player (no cable reception), comfortable couch, private bathroom with shower.</p>
                            <p><a href="https://www.airbnb.com/rooms/7483029" target="_blank">View listing &gt;</a>
                        </div>
                        <hr />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
}

@section cphTopContent {
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=251856031519558";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
    <script src="//snapwidget.com/js/snapwidget.js"></script>

}

@section cphTeaser {
    <form method="get" action="/search" class="minibar">
        <ul class="searchbar list-unstyled ym-clearfix">
            <li>
                @Html.DropDownList("City", "All Towns")
            </li>
            <li>
                <select name="minprice" id="minprice">
                    <option value="0">Min Price</option>
                    <option value="100">$100,000+</option>
                    <option selected="selected" value="200">$200,000+</option>
                    <option value="300">$300,000+</option>
                    <option value="400">$400,000+</option>
                    <option value="500">$500,000+</option>
                    <option value="600">$600,000+</option>
                    <option value="700">$700,000+</option>
                    <option value="800">$800,000+</option>
                    <option value="900">$900,000+</option>
                    <option value="1000">$1,000,000+</option>
                    <option value="1100">$1,100,000+</option>
                    <option value="1200">$1,200,000+</option>
                    <option value="1300">$1,300,000+</option>
                    <option value="1400">$1,400,000+</option>
                    <option value="1500">$1,500,000+</option>
                    <option value="1600">$1,600,000+</option>
                    <option value="1700">$1,700,000+</option>
                    <option value="1800">$1,800,000+</option>
                    <option value="1900">$1,900,000+</option>
                    <option value="2000">$2,000,000+</option>
                </select>
            </li>
            <li>
                <select name="maxprice" id="maxprice">
                    <option value="0">Max Price</option>
                    <option value="100">$100,000</option>
                    <option value="200">$200,000</option>
                    <option value="300">$300,000</option>
                    <option selected="selected" value="400">$400,000</option>
                    <option value="500">$500,000</option>
                    <option value="600">$600,000</option>
                    <option value="700">$700,000</option>
                    <option value="800">$800,000</option>
                    <option value="900">$900,000</option>
                    <option value="1000">$1,000,000</option>
                    <option value="1100">$1,100,000</option>
                    <option value="1200">$1,200,000</option>
                    <option value="1300">$1,300,000</option>
                    <option value="1400">$1,400,000</option>
                    <option value="1500">$1,500,000</option>
                    <option value="1600">$1,600,000</option>
                    <option value="1700">$1,700,000</option>
                    <option value="1800">$1,800,000</option>
                    <option value="1900">$1,900,000</option>
                    <option value="2000">$2,000,000+</option>
                </select>
            </li>
            <li>
                <select name="bedrooms" id="bedrooms">
                    <option value="1">1+ Bedroom</option>
                    <option value="2">2+ Bedrooms</option>
                    <option value="3">3+ Bedrooms</option>
                </select>
            </li>
            <li>
                <select name="acres" id="acres">
                    <option value="0">Acres (min)</option>
                    <option value="1001">1-4 Acres</option>
                    <option value="1002">4-10 Acres</option>
                    <option value="1003">10+ Acres</option>
                </select>
            </li>
            <li>
                <button id="listing" name="listing" value="1">Listings</button>
                <button id="mapit" name="mapit" value="1">Map</button>
            </li>
        </ul>
    </form>
}

@section cphFoot {
    <script type='text/javascript'>
        $(function () {
            $("#minprice, #maxprice, #bedrooms, #acres").selectmenu();
            $("#City")
                  .selectmenu()
                  .selectmenu("menuWidget")
                  .addClass("overflow");
            $('img[usemap]').rwdImageMaps();
            @Html.Raw(ViewData["FooterCode"])
        });
    </script>
    @Html.Raw(ViewData["Scripts"])
    <script src="~/js/libs/instafeed.js"></script>
    <script type="text/javascript">
        @foreach (var item in Model.GetPages()) {
            if (item.PageType == "InstagramTag") {
                <text>
                    var @item.URL = new Instafeed({
                        get: 'tagged',
                        tagName: '@item.URL',
                        target: '@item.URL',
                            limit: 9,
                            template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /></a>',
                            clientId: '56ac4fdcb0ca4e70b13a70d68adee30a'
                        });
                    @(item.URL).run();
                </text>
            }
        }
        //var feed = new Instafeed({
        //    get: 'user',
        //    tagName: 'narrowsburg',
        //    target: 'narrowsburg',
        //    limit: 9,
        //    template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /></a>',
        //    clientId: '56ac4fdcb0ca4e70b13a70d68adee30a'
        //});
        //feed.run();
    </script>
}
