@model TKS.Models.realestate.SocialSites
@{
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@Html.Raw(ViewData["Body"])

<div class="ym-grid linearize-level-1 social-header">
    <div class="ym-g33 ym-gl"><a href="/social"><img src="/assets/images/sullivan-buzz.png" width="287" height="106" alt="The Sullivan Buzz - The Lowdown on a Town" /></a></div>
    <div class="ym-g66 ym-gr"><h2>@Model.TownFormatted Wall</h2></div>
</div>

<div class="sep">
    <div class="leftline">&nbsp;</div>

    <div class="rightline">&nbsp;</div>
</div>

<ul class="social list-unstyled">
    @foreach (var item in Model.GetPages()) {
        <li>
            @if (item.PageType == "Facebook") {
                <div class="facebook"><i class="fa fa-facebook fa-fw fa-2x"></i></div>
                <div class="fb-page" data-href="@item.URL" data-hide_cta="true" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="true">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="@item.URL"><a href="@item.URL">@item.TitleText</a></blockquote>
                    </div>
                </div>
            } else if (item.PageType == "PinterestBoard") {
                <div class="pinterest"><i class="fa fa-pinterest fa-fw fa-2x"></i></div>
                <a data-pin-do="embedBoard" href="@item.URL">@item.TitleText</a>
            } else if (item.PageType == "PinterestPin") {
                <div class="pinterest"><i class="fa fa-pinterest fa-fw fa-2x"></i></div>
                <a data-pin-do="embedPin" href="@item.URL"></a>
            } else if (item.PageType == "InstagramTag") {
                <div class="instagram"><i class="fa fa-instagram fa-fw fa-2x"></i></div>
                <div id="@item.URL" class="instagram-photos"></div>
                <div class="instagramlink"><a href="https://instagram.com/explore/tags/@item.URL" target="_blank">@item.TitleText</a></div>
            } else if (item.PageType == "InstagramEmbed") {
                <div class="instagram"><i class="fa fa-instagram fa-fw fa-2x"></i></div>
                @Html.Raw(item.URL)
            } else if(item.PageType == "InstagramUser") {
                <div class="instagram"><i class="fa fa-instagram fa-fw fa-2x"></i></div>
                <div id="@item.TitleText" class="instagram-photos"></div>
                <div class="instagramlink"><a href="@item.URL" target="_blank">Visit @item.TitleText</a></div>
                if (!string.IsNullOrEmpty(item.ImageURL)) {
                <a href="@item.URL" target="_blank"><img src="@item.ImageURL" alt="@item.TitleText Image" class="img-responsive" /></a>
                }
            } else if(item.PageType == "Website") {
                <div class="website"><i class="fa fa-cloud fa-fw fa-2x"></i></div>
                <div><a href="@item.URL" target="_blank"><img src="@item.ImageURL" /></a></div>
            }
        </li>
    }
    @*<li>
        <div class="instagram"><i class="fa fa-instagram fa-fw fa-2x"></i></div>
        <div id="earthgirlflowers" class="instagram-photos"></div>
        <div class="instagramlink"><a href="https://instagram.com/earthgirlflowers/" target="_blank">earthgirlflowers</a></div>
    </li>*@
</ul>

@section cphFooterTop {
<div class="social-footer">
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <div class="ym-grid list linearize-level-1">
                <div class="ym-g33 ym-gl">
                    <div>
                        <h3 class="news"><span>@Model.TownFormatted News</span></h3>
                        @Html.Raw(Model.Col1)
                    </div>
                </div>
                <div class="ym-g33 ym-gl">
                    <div>
                        <h3 class="dining"><span>@Model.TownFormatted Dining</span></h3>
                        @Html.Raw(Model.Col2)
                    </div>
                </div>
                <div class="ym-g33 ym-gr">
                    <div>
                        <h3 class="lodging"><span>@Model.TownFormatted Lodging</span></h3>
                        @Html.Raw(Model.Col3)
                    </div>
                </div>
            </div>
            @*<ul class="list list-unstyled ym-clearfix">
                <li>
                    <div style="border-right:1px solid #a8a494;margin-right:10px">
                        <h3 class="news"><span>@Model.TownFormatted News</span></h3>
                        @Html.Raw(Model.Col1)
                    </div>
                </li>
                <li>
                    <div style="border-right:1px solid #a8a494;margin-right:10px">
                        <h3 class="dining"><span>@Model.TownFormatted Dining</span></h3>
                        @Html.Raw(Model.Col2)
                    </div>
                </li>
                <li>
                    <div>
                        <h3 class="lodging"><span>@Model.TownFormatted Lodging</span></h3>
                        @Html.Raw(Model.Col3)
                    </div>
                </li>
            </ul>*@
        </div>
    </div>
</div>
}

@section cphTopContent {
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=251856031519558";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

}

@section cphTeaser {
    <form id="search" method="get" action="/search" class="minibar">
        <ul class="searchbar list-unstyled ym-clearfix">
            <li>
                <select name="type" id="type">
                    <option value="1">Residential</option>
                    <option value="2">Land</option>
                    <option value="3">Commercial</option>
                </select>
            </li>
            <li>
                @Html.DropDownList("City", "All Towns")
            </li>
            <li>
                <select name="pricerange" id="pricerange">
                    <option value="0">Any Price</option>
                    <option value="1">$0 - 200k</option>
                    <option selected="selected" value="2">$200k - 500k</option>
                    <option value="3">$500k - 1M</option>
                    <option value="4">$1M+</option>
                </select>
            </li>
            <li>
                <select name="acrerange" id="acrerange">
                    <option value="0">Any Acreage</option>
                    <option value="1">1-5 Acres</option>
                    <option value="2">5-10 Acres</option>
                    <option value="3">10-20 Acres</option>
                    <option value="4">20+ Acres</option>
                </select>
            </li>
            <li>
                <button id="listing" name="listing" value="1">Listings</button>
                <button id="mapit" name="mapit" value="1">Map</button>
            </li>
        </ul>
    </form>
}

@section cphFoot {
    <script type='text/javascript'>
        $(function () {
            $("#pricerange, #acrerange").selectmenu();
            $("#type").selectmenu({
                change: function (event, ui) {
                    var type = $(this).val();
                    if (type == '1') {
                        $("#search").attr("action", "/search");
                        $('#pricerange option:gt(0)').remove();
                        $("#pricerange")
                            .append($('<option></option>').attr("value", "1").text("$0 - 200k"))
                            .append($('<option></option>').attr("value", "2").text("$200k - 500k"))
                            .append($('<option></option>').attr("value", "3").text("$500k - 1M"))
                            .append($('<option></option>').attr("value", "4").text("$1M+"))
                            .selectmenu("refresh");
                    } else if (type == '2') {
                        $("#search").attr("action", "/searchland");
                        $('#pricerange option:gt(0)').remove();
                        $("#pricerange")
                            .append($('<option></option>').attr("value", "1").text("$0 - 50k"))
                            .append($('<option></option>').attr("value", "2").text("$50k - 100k"))
                            .append($('<option></option>').attr("value", "3").text("$100k - 175k"))
                            .append($('<option></option>').attr("value", "4").text("$175k+"))
                            .selectmenu("refresh");
                    } else if (type == '3') {
                        $("#search").attr("action", "/searchcomm");
                        $('#pricerange option:gt(0)').remove();
                        $("#pricerange")
                            .append($('<option></option>').attr("value", "1").text("$0 - 200k"))
                            .append($('<option></option>').attr("value", "2").text("$200k - 500k"))
                            .append($('<option></option>').attr("value", "3").text("$500k - 1M"))
                            .append($('<option></option>').attr("value", "4").text("$1M+"))
                            .selectmenu("refresh");
                    }
                }
            });
            $("#City")
                  .selectmenu()
                  .selectmenu("menuWidget")
                  .addClass("overflow");
            $('img[usemap]').rwdImageMaps();
            @Html.Raw(ViewData["FooterCode"])
        });
    </script>
    @Html.Raw(ViewData["Scripts"])
    <script src="~/js/libs/instafeed.js"></script>
    <script type="text/javascript">
        @foreach (var item in Model.GetPages()) {
            if (item.PageType == "InstagramTag") {
                <text>
                    var @item.URL = new Instafeed({
                        get: 'tagged',
                        tagName: '@item.URL',
                        target: '@item.URL',
                        limit: 15,
                        template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /></a>',
                        clientId: '56ac4fdcb0ca4e70b13a70d68adee30a',
                        accessToken: '2285835796.ba4c844.866c33a9cc334f769d4feefa734c067a'
                    });
                    @(item.URL).run();
                </text>
            } else if (item.PageType == "InstagramUser") {
                <text>
                    var @item.TitleText = new Instafeed({
                        get: 'user',
                        userId: '@item.URL',
                        target: '@item.TitleText',
                        limit: 15,
                        template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /></a>',
                        clientId: '56ac4fdcb0ca4e70b13a70d68adee30a',
                        accessToken: '2285835796.ba4c844.866c33a9cc334f769d4feefa734c067a'
                    });
                    @(item.TitleText).run();
                </text>
            }
        }
        //var earthgirlflowers = new Instafeed({
        //get: 'user',
        //userId: 1554199415,
        //target: 'earthgirlflowers',
        //limit: 15,
        //template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /></a>',
        //clientId: '56ac4fdcb0ca4e70b13a70d68adee30a',
        //accessToken: '2285835796.ba4c844.866c33a9cc334f769d4feefa734c067a'
        //});
        //earthgirlflowers.run();
    </script>
}
